deb_dist/
build/
*.o
*.a
*.so
*.dll
*.dylib
Makefile.bak
pythonmodule
pythonmodule3
upnpc-shared
upnpc-static
minihttptestserver
minixmlvalid
testminiwget
validateminiwget
validateminixml
java/miniupnpc_*.jar
_jnaerator.*
out.errors.txt
jnaerator-*.jar
miniupnpc.h.bak
testupnpreplyparse
validateupnpreplyparse
testportlistingparse
validateportlistingparse
listdevices
testigddescparse
validateigddescparse
dist/
miniupnpc.egg-info/

**/Debug/
**/Release/
**/miniupnpc.vcxproj.user
**/miniupnpc.VC.db
